#airbnb-reviews{
    overflow: auto;
    padding-top: 30px;
    padding-bottom: 15px;
}
#airbnb-reviews .item{
    float: left;
    width: 50%;
    padding: 0 15px 30px;
}
#airbnb-reviews .item:nth-child(odd) { clear: both; }